/* Try different box model properties below */
.messages:first-child p {
  color: white;
}

.message {
  margin-bottom: 0 px;
}

.site-footer {
  font-size: 12px;
  text-align: center;
}

message message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
