.countries {
  display: flex;
}
/* Add your own CSS code below */

.countries--first {
  align-items: center;
  flex-direction: row;
}

.countries--first .country {
  padding: 0.8em;
}

.countries--first .country {
  height: 1.5em;
  justify-content: flex-end;
}
.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.countries--second .country {
  padding: 0.8em;
  height: 1.5em;
  justify-content: flex-start;
}

.countries--third {
  flex-direction: column;
  align-items: flex-end;
}

.countries--fourth {
  flex-direction: column-reverse;
  align-items: center;
}
